---
---
@import "{{ site.theme }}";

.inner {
	width: 60%;
	max-width: 1080px;
}

#header_wrap {
	background: none;
	background-image:url(https://www.avsimulation.com/wp-content/uploads/2018/06/degrade_bleu_rose_small.jpg);
	background-size: cover;
	border: none;
	color: none;
}

#project_title {
	font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 60px;
	box-shadow: none;
	text-shadow: none;
}

#project_tagline {
	font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 400;
	font-size: 18px;
	box-shadow: none;
	text-shadow: none;
}

#menu {
        width: 4em;
	margin-left: auto;
        margin-right: auto;
        font-weight:bold;
	text-align: center;
	padding: 0.3em 1em;
	margin-bottom: 20px;
	border-radius: 50px;
	letter-spacing: 0px;
	font-size: 22px;
	font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
	background-color: #6BBCD0;
}

#menu a {
	color: #FFFFFF;
}

#nav {
	position: absolute;
	width: 120px;
	z-index: 10;
	bottom: -20px;
	left: 0;
	height: 40px;
	background: none;
}

.nav_home {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(./sprite_nav.png) no-repeat bottom right
}

.nav_home:hover {
	background: url(./sprite_nav.png) no-repeat top right
}

#nav_left {
	position: absolute;
	width: 14%;
	max-width: 200px;
	left: 1.5%;
	padding: 1.5%;
	top: 332px;
	background-color: #FAFAFA;
	border-radius: 10px;
}

@media screen and (max-width: 1280px) {
	#nav_left {
		position: static;
		width: auto;
		max-width: none;
		padding: 20px;
	}
}

#nav_left #parent {
	display: block;
	text-align: center;
	padding: 0.3em 1em;
	margin-bottom: 20px;
	color: #FFFFFF;
	border-radius: 50px;
	letter-spacing: 0px;
	font-size: 22px;
	font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
	background-color: #6BBCD0;
}

#nav_left .current {
	color: #6BBCD0;
}

#downloads {
	position: absolute;
	width: 210px;
	z-index: 10;
	bottom: -40px;
	right: 0;
	height: 70px;
	background: none;
	/*background: url("../images/icon_download.png") no-repeat 0% 90%*/
}

.zip_download_link {
	display: block;
	float: right;
	width: 90px;
	height: 70px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(./sprite_links.png) no-repeat bottom right
}

.youtube_link {
	display: block;
	float: right;
	width: 90px;
	height: 70px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(./sprite_links.png) no-repeat bottom left;
	margin-left: 10px
}

.zip_download_link:hover {
	background: url(./sprite_links.png) no-repeat top right
}

.youtube_link:hover {
	background: url(./sprite_links.png) no-repeat top left
}

#main_content_wrap {
    background: #fff;
    border: none;
}

table#welcome {
    border: none;
}

table#welcome td, table#welcome p, table#welcome img {
    border: none;
    vertical-align: middle;
    box-shadow: none;
    -webkit-box-shadow: none;
}

blockquote {
    color: #6AF;
    border-left: 3px solid #6AF;
    background-color: #FDFDF
}
