<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          
          <div id="menu">
            <a href="{{site.baseurl}}/">Home</a>
          </div>
          
          <!--<section id="nav">
            <a class="nav_home" href="{{site.baseurl}}/">Home</a>
          </section>-->
          
          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download the Samples Pack</a>
              <a class="youtube_link" href="{{ site.github.youtube_url }}">AVSimulation on Youtube</a>
            </section>
          {% endif %}
        </header>
    </div>
    
    <!-- prepare variables -->
    {% if page.group %}
      {% assign group_pages = site.html_pages | where:"group",page.group | sort: 'order' %}
      
      <!-- prev/next group (if set in _config.yml) -->
      {% if page.prev %}
        {% assign prev_group_pages = site.html_pages | where:"group",page.prev | sort: 'order' %}
        {% assign prev = prev_group_pages.first %}
      {% endif %}  
      {% if page.next %}
        {% assign next_group_pages = site.html_pages | where:"group",page.next | sort: 'order' %}
        {% assign next = next_group_pages.first %}
      {% endif %}
    
      <!-- prev/next page (overwrites prev/next group) -->
      {% for item in group_pages %}
        {% if item.short == page.short %}
          {% unless forloop.first %}
            {% assign prev = iterator %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = group_pages[forloop.index] %}
          {% endunless %}
        {% endif %}
        {% assign iterator = item %}
      {% endfor %}
    {% endif %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      
      <!-- group nav -->
      {% if page.group %}
      <div id="nav_left" class="inner">
        <h3>{{ page.group }}</h3><br>
        {% for p in group_pages %}
          <a href="{{site.baseurl}}/{{ p.url }}" {% if p.url == page.url %}class="current"{% endif %}>
            {{ p.short }}
          </a><br>
        {% endfor %}
      </div>
      {% endif %}
      
      <section id="main_content" class="inner">
        <!-- prev -->
        {% if prev %}
          <p>
            <img class="emoji" title=":arrow_left:" alt=":arrow_left:" src="https://github.githubassets.com/images/icons/emoji/unicode/2b05.png" height="20" width="20">
            <a href="{{site.baseurl}}/{{ prev.url }}">
              {{ prev.short }}
            </a>
          </p>
        {% endif %}
        
        <!-- article -->
        {{ content }}
        
        <!-- next -->
        {% if next %}
          <p>
            <img class="emoji" title=":arrow_right:" alt=":arrow_right:" src="https://github.githubassets.com/images/icons/emoji/unicode/27a1.png" height="20" width="20">
            <a href="{{site.baseurl}}/{{ next.url }}">
              {{ next.short }}
            </a>
          </p>
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>:arrow_heading_up: <a href="{{site.baseurl}}/">Home</a></p>
        <h3 style="color: white;">Links</h3>
        <p>&#128279 <a href="https://www.avsimulation.com/">AVSimulation.com</a></p>
        <p>&#128279 <a href="https://support.avsimulation.fr/">SCANeR support</a></p>
        <p>&#128279 <a href="{{ site.github.youtube_url }}">AVSimulation on YouTube</a></p>
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    
    <!-- Umami analytics  -->
    {%- if jekyll.environment == 'production' -%}
        <script async defer data-website-id="60b78dc8-9b55-4e12-aa04-417757424f94" src="https://scaner-quick-starts-analytics.herokuapp.com/umami.js"></script>
    {%- endif -%}
  </body>
</html>
